<div>
  <!-- <div
style="background-color: #19aa8d;"
> -->

  <div class="signup-form">
    <form   [formGroup]="udpateDetails" (ngSubmit)="onSubmit()">
      <h2>Profile</h2>
      <p></p>
      <hr />
      <div class="form-group">
        <div class="input-group d-flex align-items-center">
          <span class="input-group-addon"><i class="fa fa-user mx-1"></i></span>
          <input type="text" class="form-control" formControlName="username" placeholder="Username" required="required" />
        </div>
        <div *ngIf="!udpateDetails.get('username')?.valid  && udpateDetails.get('username')?.touched" class="d-flex text-danger justify-content-end">
          Please enter username!!
        </div>

      </div>
      <div class="form-group">
        <div class="input-group d-flex align-items-center">
          <span class="input-group-addon"><i class="fa fa-paper-plane mx-1"></i></span>
          <input type="email" class="form-control" formControlName="email" placeholder="Email Address" required="required" />
        </div>
        <div *ngIf="!udpateDetails.get('email')?.valid  && udpateDetails.get('email')?.touched" class="d-flex text-danger justify-content-end">
          Please enter valid email!!
        </div>
      </div>
      <div class="form-group">
        <div class="input-group d-flex align-items-center">
          <span class="input-group-addon"><i class="fa fa-lock mx-1"></i></span>
          <input type="text" class="form-control" formControlName="password" placeholder="Password" required="required" />
        </div>
        <div *ngIf="!udpateDetails.get('password')?.valid  && udpateDetails.get('password')?.touched" class="d-flex text-danger justify-content-end">
          Password must contain at least one number, one uppercase and a
          lowercase letter and at least 8 characters.
        </div>
      </div>
      <div class="form-group">
        <div class="input-group d-flex align-items-center">
          <span class="input-group-addon">
            <i class="fa fa-lock mx-1"></i>
          </span>
          <input type="text" class="form-control" formControlName="confirm_password" placeholder="Confirm Password"
            required="required" />
        </div>
        <div *ngIf="!udpateDetails.get('confirm_password')?.valid  && udpateDetails.get('confirm_password')?.touched" class="d-flex text-danger justify-content-end">
          Please enter valid confirm password that match to password!!
        </div>
      </div>
      <div class="form-group">
        <!-- <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label> -->
      </div>
      <div class="form-group d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg">Update Details</button>
      </div>
    </form>

  </div>
</div>
